<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--    <include url="http://localhost:8888/application/default/main/logback/logback-base.xml"/>-->

    <!-- cloud-config로 이관 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level %thread \(%logger{15}\)
                [%mdc{traceId:—}:%mdc{parentId:—}:%mdc{spanId:—}:%mdc{user-id:—}] %msg%n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="KAFKA-APPENDER" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeCallerData>true</includeCallerData>
        </encoder>
        <topic>logs</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy"/>
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy"/>

        <producerConfig>bootstrap.servers=my-cluster-kafka-bootstrap.kafka.svc:9092</producerConfig>
    </appender>

    <appender name="ASYNC-KAFKA-APPENDER" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="KAFKA-APPENDER"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC-KAFKA-APPENDER"/>
    </root>
</configuration>